.layout {
  min-height: 100vh;
}

.site-layout-content {
  background-color: white;
  height: 100%;
  padding: 30px;
}

.main-container {
  padding: 20px 200px;
}

.invoice-items {
  margin-top: 30px;
  margin-bottom: 30px;
}

.bank-details-container {
  margin-bottom: 30px;
}

.billing-details-container {
  margin-top: 30px;
}

.add-invoice-item-button {
  margin-top: 10px;
  margin-bottom: 30px;
}

.text-right {
  text-align: right;
}

.download-invoice-button {
  margin-bottom: 20px;
}
